<%= turbo_frame_tag "modal" do %>
  <div class="modal bg-white">
  <div class="spinner"></div>
    <div>
      <p>Loading</p>
    <div>
      <%= link_to "Cancel", "#", data:{
        controller: "modals",
        action: "modals#close"
      }, class: "cancel-button"%>

    </div>
  </div>

<%end%>