<div>
  <%# begin grid %>
  <div class="grid grid-cols-9 gap-4 m-10 content-center">
    <%# begin small cards %>
    <div class="col-span-2 min-h-20 bg-white pl-5 rounded drop-shadow-md/5 content-center"><p>KEYWORDS</p><p><%= @totalKeywords %></p></div>
    <div class="col-span-2 min-h-20 bg-white pl-5 rounded drop-shadow-md/5 content-center"><p>nGrams</p><p>###</p></div>
    <div class="col-span-2 min-h-20 bg-white pl-5 rounded drop-shadow-md/5 content-center"><p>Time Saved</p><p>###</p></div>
    <div class="col-span-3 min-h-20 bg-white p-5 rounded drop-shadow-md/5 content-center">
      <button class ="w-1/1 bg-red-500 text-white py-2 px-5 drop-shadow-md content-center">Add New Project</button>
    </div>
    <%# begin table %>
    <div class="grid grid-cols-5 gap-4 col-span-9 m-10 content-center">
        <%= render partial: "/components/tables/keyword_table", locals: { 
          entries: @keywords,
          current_page: @current_page,
          total_pages: @total_pages,
          table_config: home_keyword_table} %>

        <%= render partial: "/components/tables/project_table", locals: { keywords: @keywords, kw_columns: @kw_columns, current_page: @current_page, total_pages: @total_project_pages, styling: @kw_table_styling } %>
        <%= render partial: "/components/tables/project_insights_table", locals: { projectsInsights: @projectsInsights, current_page: @current_page, total_pages: @total_project_pages, table_row_count: 3 } %>
    </div>

  
  </div>
</div>
