<div class="w-full min-h-20 bg-white my-5 p-5 rounded drop-shadow-md/5 text-center content-center ">
      <div class="overflow-y-scroll max-h-20">
      <table class=" text-left text-gray-800 font-medium overflow-hidden text-ellipsis w-1/1 text-xl">
        <thead>
          <tr class="text-red-500">
            <th class="p-1 text-center">#</th>
            <th class="p-1 ">Project</th>
            <th class="p-1 ">Search Volume</th>
          </tr>
        </thead>
        <tbody class="p-5 text-sm ">
          <% @insights_test.each_with_index  do |project, index| %>
          <%project.name%>
          <tr>
            <td class="p-.5 px-1 text-center"><%= index + 1 + ((@current_page - 1) * 3) %></td>
            <td class="border-y border-dashed border-red-500 p-.5 px-1"><%= project.name %></td>
            <td class="border-y border-dashed border-red-500 p-.5 px-1"><%= link_to project.name, project %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    <% if @insights_test.count >3 %>
    <span class="text-center w-full">⋯</span>
    <%end%>
    </div>