<div class ="flex md:justify-end flex-nowrap gap-6 p-4
      bg-gradient-to-r from-red-600 to-red-500
      text-white ">
      <div class ="max-w-7xl mx-auto px-10">
      <button id="menu-toggle" class="md:hidden text-align-left p-2 text-white rounded">
        ☰ Menu
      </button>
       <ul class="hidden md:flex gap-6 text-base xl:text-lg  align-middle" >
        <%= link_to "HUB", root_path, class:"py-2" %>
        <%# <%= link_to "PROJECTS", projects_path, class:"py-2" %>
        <%# <%= link_to "KEYWORDS", keywords_path, class:"py-2" %> 
        <%# <p>PROFILE</p> %>
        <%= button_to "LOGOUT", logout_path, class:"rounded bg-white text-red-500 px-5 py-2", method: :delete if authenticated? %>
        </ul>

      </div>
       <nav id="mobile-menu" class="hidden md:hidden m-2 space-y-2 text-xl
       bg-white border border-gray-300 rounded shadow">
        <a href="#" class="block text-red-500 font-semibold hover:bg-red-600 hover:text-white m-4 p-1 rounded">Home</a>
        <a href="#" class="block text-red-500 font-semibold hover:bg-red-600 hover:text-white m-4 p-1 rounded">Projects</a>
        <%# <a href="#" class="block text-red-500 font-semibold hover:bg-red-600 hover:text-white m-4 p-1 rounded">Contact</a> %>
      </nav>
    </div>